body {
    margin: 0;
    color: #789;
    text-align: center;
}

.cabecera {
    background: #887;
    color: white;
    padding: 0.5em;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.container {
    border: 1px solid #446;
    width: 70%;
    margin: 0 auto;
}

.principal {
    text-align: left;
    margin: 0 0 0 1em;
}

.footer{
    background: #789;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 1em;
}
