body {
    margin: 0;
    color: #366;
    text-align: center;
}

.container {
    border: 1px solid #446;
    width: 70%;
    margin: 0 auto;
}

.principal {
    text-align: left;
    margin: 0 0 0 1em;
}
